@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans Tamil', sans-serif;
}

body::-webkit-scrollbar {
	display: none;
}

/* nav bar start */
.headvideo video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.navbar ul li a {
	color: #ffffff;
}

/* section 1 start */
.section1 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section1 h1 {
	color: black;
	text-shadow: -1px 1px rgb(161, 217, 245);
	font-weight: 800;
}

.section1 p {
	font-size: 28px;
	color: #0d170d;
	text-shadow: -1px 1px wheat;
	font-weight: 700px;
}

.section1 button {
	border-radius: 10px;
	width: 400px;
	padding: 12px;
	margin-top: 25px;
	background-color: #ffffff1A;
	border: 2px outset black;
}

.section1 button:hover {
	transform: scale(1.1);
	transition: 0.5s;
	background-color: #36c8f8de;
}

.section1 button a {
	text-decoration: none;
	font-size: 18px;
	color: black;
}

.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	align-items: center;
}

.section2 .box {
	margin-top: 120px;
	width: 60%;
	height: 100%;
	box-shadow: -1px 9px 14px 7px rgba(26, 22, 26, 0.53);
	border-radius: 10px;
}

.section2 .box .sideimage img {
	border-radius: 10px;
}

.content1 {
	width: 60%;
}

.section3 {
	background-image:
		url('/assets/images/learning-gc49fa0086_1920.jpg');
	height: 600px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section3 h1 span {
	color: #FE9227;
}

.section4 {
	box-shadow: -1px 9px 14px 7px rgba(26, 22, 26, 0.53);
	width: 60%;
	height: 150px;
	top: 100px;
	position: relative;
	background-color: aliceblue;
	border-radius: 6px;
}

.section4 .num1 h1 {
	text-shadow: -2px 2px greenyellow;
}

.section5 .head {
	text-align: center;
	padding: 200px 0 80px 0;
	font-size: 30px;
}

ul {
	margin: 0px;
	padding: 0px;
}

.news {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 30px;
	overflow-x: scroll;
}

.news::-webkit-scrollbar {
	display: none;
}




#chartCanvas, #myChart {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding-top: 40px;
}

.piecharts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

.piecharts p {
	font-size: 20px;
	font-weight: 500px;
	color: brown;
}