* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
}

input:valid,
select:valid {
    border: 2px solid green;
}

input:invalid,
select:invalid {
    border: 2px solid red;
}

.contain {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

form {
	max-width: 380px;
	width: 100%;
	margin-top:40%;

}

form input[type="email"], input[type="Password"],input[type="text"],input[type="tel"]{
	width: 100%;
	font-size: 13px;
	padding: 13px;
	padding-left: 20px;
	font-weight: 500;
	border: 3px solid #ededed;
	border-radius: 50px;
}

label {
	display: block;
	margin-top: 20px;
	margin-bottom: 8px;
}

form h1 {
	color: #7673c8;
	/* color: #c89173; */
	margin-bottom: 10px;
}

small {
	font-size: 12px;
	color: #c1c1c1;
}

.mor {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mor label {
	margin: 0;
	font-size: 13px;
}

.mor a {
	position: absolute;
	right: 0;
	font-size: 13px;
	text-decoration: none;
}

.log {
	width: 100%;
	font-size: 15px;
	padding: 10px;
	border: none;
	margin-bottom: 20px;
	font-weight: 500;
	border: 3px solid #ededed;
	border-radius: 50px;
	/* the real one for all border-radius: 5px; */
	color: white;
	border: 3px solid #7673c8;
	background-color: #7673c8;
	transition: .4s;
}

.log:hover {
	background-color: #5c59a7;
}

.check {
	margin-right: 5px;
}

.op {
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.op button {
	width: 48%;
	padding: 15px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	font-size: 13px;
	font-family: 'Poppins', sans-serif;
	border: 3px solid #ededed;
	background-color: white;
	transition: .4s;
}

.op button:hover {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Google-logo {
	width: 15px;
	margin-right: 10px;
}

.Apple-logo {
	width: 15px;
	margin-right: 10px;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d9d9d9;
}

.line {
	width: 100%;
	height: 4px;
	margin: 10px;
	border-radius: 5px;
	background-color: #ededed;
}

.btn {
	position: absolute;
	top: 0; 
	left: 0;
	margin: 20px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #c1c1c1;
	background-color: transparent;
	border: 2px solid #ededed;
	border-radius: 50px;
	padding-right: 10px;
}

svg {
	color: #c1c1c1;
}

.image {
	width: 400px;
	height: 450px;
	border-radius: 40px;
	background-color: #7673c8;
	background-position: center;
	background-size: 770px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://freeimghost.net/images/2023/09/25/logo.png);
    background-size:200px;
    margin-top:20%;
}

.sign {
	max-width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 40px;
	border: none;
	outline: none;
	margin: 20px;
	/* float: right; */
	cursor: pointer;
	color: #5c59a7;
	font-weight: 600;
	background-color: #fff;
}

.image h1 {
	margin: 20px;
	color: black;
	font-weight:600;
	text-shadow: 1px 1px 2px pink;
	font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 860px) {
	.image {
		display: none;
	}
}